<!DOCTYPE html>
<html lang="ja">

<!-- Required meta tags -->
  <meta charset="utf-8">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
  <!-- Bootstrap CSS --> <title>毒きのこ判定ロボット</title> </head> <body bgcolor="#202729" text="white">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

 <h1>毒きのこ判定ロボット</h1>
  <div>
<p>毒きのこ判定ロボットはディープラーニングでキノコの種類を判別する webアプリケーションです。</p>
<p>食用きのこ、毒きのこ、に対応しています。</p>
  </div>
  <div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
  </div>

<p>本情報を利用することによって、または、利用できないことによって生じたいかなる損害・被害・事故についても、サーバー管理者は、一切の責任を負いません。<p>
<p>本情報は、参考情報とし、最終的には自己責任でキノコの利用をご判断下さい。</p>
<br>
<a href="http://18.223.214.150/posts/">きのこ写真投稿サイト</a>

</body>
</html>
